.current-temp > span,
img {
  vertical-align: middle;
}

.error-display {
  visibility: hidden;
  font-size: 12px;
}

.hourly-forecast {
  display: flex;
  flex-direction: row;
}

.hour-day-container {
  margin-right: 10px;
}

.daily-forecast {
  display: flex;
  flex-direction: row;
}
